.header{
    background-color: #000;
}

main{
    background-color: #000;
}

 .logotipo{
  height: 90px;
 }

 .justificar{
  text-align: justify;
 }

 .icon-box{
    color:rgb(233, 176, 33);
 }

 .fixarRodape {
    bottom: 0;
    position: fixed;
    text-align: center;
    background-color: #000;
}

.agroup{
    height: 60vh;
    display: flex;
    align-items: center;
}