.header{
  background-color: #000;
}

main{
  background-color: #000;
}

.Inicio{
  display: flex;
  align-content: center;
  width: 850px;
  height: 478px;
  filter: brightness(0.75);
}




.logotipo{
height: 90px;
}

.justificar{
text-align: justify;
}

.hero{
  background: url("../img/ft.png") center/cover no-repeat;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  min-height: 80vh;
  color: #ffff;
  display: flex;
  align-items: center;
}

.hero-overlay{
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 3em;
}

.tamanho{
  padding-left: 100px;
  padding-right: 100px;
  
}

.imagemcaroussel{
  height: auto;
  width: 30px;
}

.card-img-top{
  width: 200px;
  height: auto;
  border: 0;
}

.hero-1{
  background: url("../img/Iates/Serene.jpg") center/cover no-repeat;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  min-height: 80vh;
  color: #ffff;
  display: flex;
  align-items: center;
}

.hero-overlay-1{
  background-color: rgba(0, 0, 0, 0.6);
  width: 80%;
  padding: 3em;
  margin: auto;
}

.service-img {
  width: 25%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none !important;
}

.card a {
  text-decoration: none !important;
}


@media (max-width: 600px) {
  .Inicio{    
    width: 400px;
    height: 300px;    
  }
}